files:
  "/tmp/barricade.sh" :
    mode: "000700"
    owner: root
    group: root
    source: https://app.barricade.io/install/<AUTOMATION KEY>/install.sh

  "/opt/elasticbeanstalk/tasks/taillogs.d/barricade.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/barricade.log

commands:
  install:
    command: bash /tmp/barricade.sh
